version: "3.4"

networks:
  new-newxum-networking:
    driver: bridge

services:
  keycloak: 
    image: new-nexum-keycloak/new-nexum-keycloak:latest
    container_name: new-nexum-keycloak
    build:
      context: "../backend/src"
      dockerfile: "./Services/Identity/Dockerfile"
    command: -v start-dev --import-realm
    ports:
      - "8080:8080"
    volumes:
      - ./keycloak:/opt/keycloak/data/import
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KC_HOSTNAME: localhost    
    restart: always  
    depends_on:
      - postgres-identity
    networks:
      - new-newxum-networking

  postgres-identity:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    networks:
      - new-newxum-networking

  adminer:
    image: adminer
    restart: always
    ports:
      - 6001:8080
    environment:
      ADMINER_DEFAULT_SERVER: postgres-identity
      ADMINER_DEFAULT_USERNAME: "keycloak"
      ADMINER_DEFAULT_PASSWORD: "keycloak"
    networks:
      - new-newxum-networking